<template>
  <div>
    <CalculatorApp></CalculatorApp>
  </div>
</template>

<script>
import CalculatorApp from '@/components/CalculatorApp.vue'

export default {
  name: 'App',
  components: {
    CalculatorApp
  }
}
</script>