<template>
<div id="box">
  <div id="container">
    <div class="parent">
        <div class="div12">
            <p class="blinking-cursor">{{ currentNumber || "|" }}</p>
        </div>
        <div @click="clear()" class="div14">C</div>
        <div @click="ans()" class="div15">ANS</div>
        <div @click="del()" class="div10">DEL</div>
        <div @click="append(1)" class="div1 btn">1</div>
        <div @click="append(2)" class="div2 btn">2</div>
        <div @click="append(3)" class="div3 btn">3</div>
        <div @click="append(4)" class="div4 btn">4</div>
        <div @click="append(5)" class="div5 btn">5</div>
        <div @click="append(6)" class="div6 btn">6</div>
        <div @click="operation('*')" class="div13 btn" id="multiply">*</div>
        <div @click="append(7)" class="div7 btn">7</div>
        <div @click="append(8)" class="div8 btn">8</div>
        <div @click="append(9)" class="div9 btn">9</div>
        <div @click="append(0)" class="div0 btn">0</div>
        <div @click="operation('+')" class="div11 btn" id="add">+</div>
        <div @click="operation('-')" class="div16 btn" id="subtract">-</div>
        <div @click="operation('/')" class="div17 btn" id="divide">/</div>
        <div class="div18"></div>
        <div @click="append(',')" class="comma btn" id="commaDiv">,</div>
        <div @click="calculate()" class="div21">=</div>
        </div>
    </div>
    <HistoryBox :history="history"></HistoryBox>
</div>
</template>


<script defer>
import HistoryBox from "@/components/HistoryBox.vue";

export default {
  components: {HistoryBox},
  data()
  {
    return {
      previousNumber: "",
      currentNumber: "",
      operationProperty: false,
      operator: "",
      result: 0,
      history: []
    }
  },
  methods: {
        append(number) {
            if(this.operationProperty === true){
                this.currentNumber = "";
                this.operationProperty = false;
            }

            this.resetBackgroundColors();



            console.log("number: " + number);

            let div;
            if (number === ','){
              div = "#commaDiv";
              number = ".";
            }
            else{
              div = ".div" + number;
            }

            document.querySelector(div).style.backgroundColor = "gray";
            this.currentNumber = this.currentNumber + number;
            console.log("current number: " + this.currentNumber);
        },

        clear(){
            this.currentNumber = "";
            this.previousNumber = "";
            this.result = 0;
            this.resetBackgroundColors();
        },

        ans(){
            this.currentNumber = this.result;
        },

        operation(operator){
            this.operationProperty = true;
            if (this.operator === "*"){
              this.operator = operator;
            }
            this.operator = operator;
            this.previousNumber = this.currentNumber;
            this.currentNumber = "";

            if(this.operator === "+"){
                document.querySelector("#add").style.backgroundColor = "gray";
            }
            else if(this.operator === "-"){
                document.querySelector("#subtract").style.backgroundColor = "gray";
            }
            else if(this.operator === "*"){
                document.querySelector("#multiply").style.backgroundColor = "gray";
            }
            else if(this.operator === "/"){
                document.querySelector("#divide").style.backgroundColor = "gray";
            }


        },

        calculate(){
            if (this.previousNumber === "" || this.currentNumber === "" || this.operator === ""){
                return;
            }
            if (this.operator === "/" && this.currentNumber === "0"){
                alert("You can't divide by zero!");
                return;
            }
            if (!(this.operator === "+" || this.operator === "-" || this.operator === "*" || this.operator === "/")){
                return;
            }
            if(this.operator === "+"){
                //console.log("previous number: " + this.previousNumber + " current number: " + this.currentNumber + " result: " + this.result);
                this.result = parseFloat(this.previousNumber) + parseFloat(this.currentNumber);
            }
            else if(this.operator === "-"){
                this.result = parseInt(this.previousNumber) - parseInt(this.currentNumber);
            }
            else if(this.operator === "*"){
                this.result = parseInt(this.previousNumber) * parseInt(this.currentNumber);
            }
            else if(this.operator === "/"){
                this.result = parseInt(this.previousNumber) / parseInt(this.currentNumber);
            }
            this.resetBackgroundColors();
            this.operationProperty = true;
            //this.currentNumber = this.result;

            console.log(this.previousNumber + " " + this.operator + " " + this.currentNumber + " = " + this.result);

            this.appendToHistory();
        },

        appendToHistory(){
            this.history.push(this.previousNumber + " " + this.operator + " " + this.currentNumber + " = " + this.result);
            this.currentNumber = this.result;
        },

        resetBackgroundColors(){
            var x = document.getElementsByClassName("btn");
            for (let index = 0; index < x.length; index++) {
                x[index].style.backgroundColor = "initial";
            }
        },

        del(){
            this.currentNumber = this.currentNumber.slice(0, -1);
        }
    }
}
</script>
