
<template>
  <div class="body">
    <div class="form">
      <h1>Contact us</h1>
      <div>
        <div class="input-container">
          <input class="input" type="text" placeholder=" ">
          <div class="cut"></div>
          <label for="firstname" class="placeholder">First name</label>
        </div>
        <div class="input-container">
          <input class="input" type="text" placeholder=" ">
          <div class="cut"></div>
          <label for="lastname" class="placeholder">Last name</label>
        </div>
        <div>
          <textarea id="message" name="message" rows="6" class="input" placeholder="Message"></textarea>
          <div class="cut"></div>
        </div>
        <button id="button" v-on:click="handleSubmitClick">Send</button>
      </div>
    </div>
  </div>
</template>

<script>
  import router from '@/router';
  import {isLoginSuccessful} from "../../utils/contact-formutils";
  import {loginRequest} from "../../utils/httputils";


  export default {
    name: 'ContactForm',
    data() {
      return {
        firstName: "",
        lastName: "",
        message: ""
      }
    },
    methods: {
      // in LoginView.vue file
      handleSubmitClick() {
        loginRequest({}).then(response => {
          if(isLoginSuccessful(response)){
            router.push("/");
            alert("Successful");
          }
        })
      },
    }
  }
</script>


<style scoped>

  .body {
    background-color: rgb(124, 121, 121);
  }

  h1{
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
  }

  textarea{
    resize: none;
    margin-top: 20px;
  }
  .form {
    margin: 50px auto 0 auto;
    width: 400px;
    height: fit-content;
    background-image: linear-gradient(to bottom right, rgb(92, 88, 88), rgb(37, 33, 33));
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .input-container {
    margin-top: 40px;
    height: 50px;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }

  .input{
    background-color: rgb(92, 88, 88);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }

  .cut{
    background-color: rgba(92, 88, 88,0);
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
  }

  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
    background-color: rgba(92, 88, 88,1);
  }

  .placeholder {
    color: white;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }

  ::placeholder {
    color: white;
  }

  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }

  .input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }

  .input:focus ~ .placeholder {
    color: white;
  }

  #button {
    background: linear-gradient(45deg, #FC466B, #3F5EFB);
    border: 0;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 40px;
    outline: 0;
    width: 100%;
    transition: transform 200ms;
  }

  #button:hover {
    transform: scale(1.05);
  }
</style>