<template>
    <div id="logContainer">
      <div class="log-box">
        <div class="historyTitle">Calculator history</div>
        <div id="historyContent">
          <div v-for="h in history" :key="h">
            <div class="history">{{h}}</div>
          </div>
        </div>
      </div>
    </div>
</template>



<script>
export default {
  props: {
    history: Array
  }
}
</script>

