<template>
  <nav class="nav">
    <router-link to="/">Home</router-link>
    <router-link to="/contact-form">Contact form</router-link>
  </nav>
  <router-view/>
</template>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.nav{
  height: 50px;
  background-image: linear-gradient(to bottom right, rgb(92, 88, 88), rgb(37, 33, 33));
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 15px;
}

.nav a{
  text-decoration: none;
  color: white;
  margin: 0 10px;
}

.nav a:hover{
  transform: scale(1.1);
}


body{
  background-color: rgb(124, 121, 121);
}

#container {
  width: 70%;
  height: 500px;
  background-image: linear-gradient(to bottom right, rgb(92, 88, 88), rgb(37, 33, 33));
  border: solid thin gray;
  margin: 50px;
  box-shadow: rgb(104, 99, 99) 0px 0px 10px 0px;
  border-radius: 15px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: rgb(104, 99, 99) 0px 0px 10px 0px;
}

#result {
  text-align: right;
  justify-content: right;
  padding-right: 15px;
}

#result:hover {
  cursor: default;
  color: white;
  background-color: white;
}


.parent div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

.parent div:hover {
  background-color: white;
  color: rgb(98, 98, 98);
  cursor: pointer;
}

#log-box {

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.historyTitle {
  grid-area: 1 / 3 / 2 / 4;
  color: white;
  margin-top: 20px;

}
#historyContent {
  grid-area: 2 / 3 / 3 / 4;
  color: white;
  margin: 40px auto;
}

#box{
  display: grid;
  grid-template-columns: auto auto;
  width: 50%;
  margin: auto;
}

#logContainer{
  display: flex;
  justify-content: center;
  margin: auto 0;
  height: 500px;
  background-image: linear-gradient(to bottom right, rgb(92, 88, 88), rgb(37, 33, 33));
  border-radius: 15px;
  overflow: auto;
}

#logContainer::-webkit-scrollbar {
  width: 10px;
}

#logContainer::-webkit-scrollbar-track {
  background: rgb(130, 125, 125);
}

#logContainer::-webkit-scrollbar-thumb {
  background: rgb(92, 88, 88);
}



.div12 {
  grid-area: 1 / 1 / 2 / 5;
  border-radius: 15px 15px 0 0;
  background-color: rgb(26, 12, 12) !important;
}

.div14 {
  grid-area: 2 / 1 / 3 / 2;
}

.div15 {
  grid-area: 2 / 2 / 3 / 3;
}

.div10 {
  grid-area: 2 / 3 / 3 / 4;
}

.div11 {
  grid-area: 2 / 4 / 3 / 5;
}

.div1 {
  grid-area: 3 / 1 / 4 / 2;
}

.div2 {
  grid-area: 3 / 2 / 4 / 3;
}

.div3 {
  grid-area: 3 / 3 / 4 / 4;
}

.div16 {
  grid-area: 3 / 4 / 4 / 5;
}

.div4 {
  grid-area: 4 / 1 / 5 / 2;
}

.div5 {
  grid-area: 4 / 2 / 5 / 3;
}

.div6 {
  grid-area: 4 / 3 / 5 / 4;
}

.div13 {
  grid-area: 4 / 4 / 5 / 5;
}

.div7 {
  grid-area: 5 / 1 / 6 / 2;
}

.div8 {
  grid-area: 5 / 2 / 6 / 3;
}

.div9 {
  grid-area: 5 / 3 / 6 / 4;
}

.div17 {
  grid-area: 5 / 4 / 6 / 5;
}

.div18 {
  grid-area: 6 / 1 / 7 / 2;
  border-radius: 0 0 0 15px;
}

.div0 {
  grid-area: 6 / 2 / 7 / 3;
}

.comma {
  grid-area: 6 / 3 / 7 / 4;
}

.div21 {
  grid-area: 6 / 4 / 7 / 5;
  border-radius: 0 0 15px 0;
  background-image: linear-gradient(to bottom right, rgb(210, 24, 24), rgb(207, 102, 22));
}

@media screen and (max-width: 1200px) {
  #box {
    grid-template-columns: auto !important;
  }
}

</style>

